TAVILY_API_KEY="tvl***x3PSQ"
GOOGLE_API_KEY="AI***N-C54"

# HITL (SQLite DB Name)
HITL_DB="blog_hitl.db"

# POSTGRES
PG_USER="blogger"
PG_PASSWORD="abcd1234"
PG_HOST="localhost"
PG_PORT=5432
PG_DB="blogs"

